
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* a refers to the links on the portfolio page and navbar links */
a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  opacity: 0.5;
  text-decoration: underline;

}

.skills {
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
}

.title {
  font-family: 'Lato', sans-serif;
  text-decoration: 'underline';
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.list li {
  padding: 1em;
  border: 2px solid rgb(82, 5, 134);
  box-shadow: 5px 10px rgb(119, 101, 168);
  align-self: center;
  margin: 1em;
  background-color: rgb(217, 201, 228)
}

.portfolio {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 25px;
  margin-top: 25px;
  font-family: 'Lato', sans-serif;
}

.portfolio li {
  margin-right: 1em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 450px;
  border: 1px solid rgb(181, 179, 182);
  box-shadow: 5px 10px rgb(151, 146, 163);
}

.portfolio-image {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 200px;
  margin: 10px;
  border: 2px solid rgb(82, 5, 134);
}

.portfolio-image2 {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 200px;
  margin: 10px;
  border: 2px solid rgb(82, 5, 134);
}

.description {
  display: flex;
  flex-direction: row;
  margin: -4em 2em -3em 2em;
  text-decoration: none;
}

button {
  height: 2em;
  font-size: 1em;
  margin: -2.5em 0.5em 0 0.5em;
  background-color: rgb(205, 239, 247); 
  border: 2px solid rgb(18, 5, 134);
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: row;
}

button a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(82, 5, 134);
  font-family: 'Lato', sans-serif;
  background-color: white;
}


.my-name:hover {
  opacity: 0.5;
  text-decoration: underline;
}


.my-name {
  font-family: 'Lato', sans-serif;
  text-decoration: 'none';
  font-size: 25px;
}

.my-image {
  margin-top: 30px;
  border: 2px solid rgb(82, 5, 134);
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.my-blurb {
  font-family: 'Lato', sans-serif;
}

.contact {
  font-family:'Lato', sans-serif;
  margin-top: 100px;
}

