
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.skills {
  padding-top: 50px;
  font-family: 'Prata', serif;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;


}

.list li {
  padding: 1em;
  border: 2px solid rgb(20, 165, 20);
  margin: 1.33em;
  align-self: center;

}

.portfolio {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  padding-top: 25px;
  margin-top: 25px;
    /* font-family: 'Abril Fatface', cursive; */
  /* font-family: 'Questrial', sans-serif; */
  /* font-family: 'Sanchez', serif; */
  font-family: 'Prata', serif;
  /* font-family: 'Ovo', serif; */
  /* font-family: 'Alef', sans-serif; */
  /* font-family: 'Antic', sans-serif;  */
}

.portfolio li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 450px;
  height: 450px;
}

.portfolio-image {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 200px;
  margin: 10px;
  border: 2px solid rgb(20, 165, 20);
}

.description {
  display: flex;
  flex-direction: row;
  margin: -4em 2em -3em 2em;
    /* font-family: 'Abril Fatface', cursive; */
  /* font-family: 'Questrial', sans-serif; */
  /* font-family: 'Arimo', sans-serif; */
  font-family: 'Muli', sans-serif;
  /* font-family: 'Nunito', sans-serif; */

  /* font-family: 'Sanchez', serif; */
  /* font-family: 'Prata', serif; */
  /* font-family: 'Ovo', serif; */
  /* font-family: 'Alef', sans-serif; */
  /* font-family: 'Antic', sans-serif;  */
}

button {
  width: 4em;
  height: 2em;
  font-size: 1em;
  margin: -2.5em 0.5em 0 0.5em;
  background-color: rgb(247, 240, 205); 
  border: 2px solid rgb(20, 165, 20);
}

.buttons {
  display: flex;
  flex-direction: row;
}

button a {
  font-family: 'Prata', serif;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* font-family: 'Martel', serif; */
  /* font-family: 'Abril Fatface', cursive; */
  /* font-family: 'Questrial', sans-serif; */
  /* font-family: 'Sanchez', serif; */
  font-family: 'Prata', serif;
  /* font-family: 'Ovo', serif; */
  /* font-family: 'Alef', sans-serif; */
  /* font-family: 'Antic', sans-serif;  */
}
.my-name:hover {
  opacity: 0.5;
}


.my-name {
  font-family: 'Prata', serif;
  text-decoration: 'none';
}

.my-image {
  border: 2px solid rgb(16, 134, 16);
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.my-blurb {
  font-family: 'Muli', sans-serif;
}

.contact {
  font-family: 'Muli', sans-serif;
}

